.wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 100px 40px;
}

.header{
    grid-column: span 12;
    background-color: aqua;
}

.menu{
    grid-column: span 4;
    background-color: brown;
}

.content{
    grid-column: span 8;
    background-color: yellow;
}

.footer{
    grid-column: span 12;
    background-color: aqua;
}

@media screen and (max-width: 430px) {
    .header {
        grid-column: span 8;
    }

    .menu{
        grid-row: 1;
        grid-column: span 4;
    }

    .content{
        grid-column: span 12;
    }
}